<%= form_with(model: spot, class: "contents") do |f| %>
  <%# エラー部 %>
  <% if spot.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md my-3">
      <h2><%= spot.errors.count %> 件のエラーにより、スポットは保存できませんでした</h2>

      <ul class="list-disc ml-6">
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# フォーム部 %>
  <div class="space-y-2">

    <%# スポット名 %>
    <div class="form-group">
      <%= f.label :name, class: "form-label", for: :spot_name do %>
        スポット名（最大30文字） <span class="bg-red-700 text-xs ml-1 text-white rounded p-1">必須</span>
      <% end %>
      <%= f.text_field :name, required: true, placeholder: "例：東京タワー", class: "w-full input input-bordered" %>
    </div>

    <%# 住所（都道府県） %>
    <div class="form-group">
      <%= f.label :prefecture_id, class: "form-label", for: :spot_prefecture do %>
        都道府県 <span class="bg-red-700 text-xs ml-1 text-white rounded p-1">必須</span>
      <% end %>
      <%= f.select :prefecture_id, Prefecture.all.collect { |p| [p.name, p.id] }, { include_blank: "選択してください" }, { required: true, class: "w-full input input-bordered" } %>
    </div>

    <%# 住所（詳細） %>
    <div class="form-group">
      <%= f.label :address, class: "form-label", for: :spot_address do %>
        市区町村番地（最大60文字） <span class="bg-red-700 text-xs ml-1 text-white rounded p-1">必須</span>
      <% end %>
      <%= f.text_field :address, required: true, placeholder: "例：港区芝公園4-2-8", class: "w-full input input-bordered" %>
    </div>

    <%# URL %>
    <div class="form-group">
      <%= f.label :url, "サイトURL（最大255文字）", class: "form-label", for: :spot_url %>
      <%= f.url_field :url,
        maxlength: 255,
        placeholder: "例: https://example.com",
        title: "有効なURLでなければいけません",
        class: "input input-bordered w-full" %>
    </div>

    <%# タグ %>
    <div class="form-group">
      <%= f.label :tag_names, "タグ（最大3つ）", class: "form-label", for: :spot_tags %>
      <%= f.text_field :tag_names, value: spot.tags.map(&:name).join(' '
), placeholder: "例：タワー 展望台 都会", class: "input input-bordered w-full" %>

      <% if f.object.errors[:tag_names].present? %>
        <div class="text-red-500 text-sm mt-1">
          <%= f.object.errors.full_messages_for(:tag_names).join(', ') %>
        </div>
      <% end %>
    </div>

    <%# 説明 %>
    <div class="form-group">
      <%= f.label :body, "説明", class: "form-label", for: :spot_body %>
      <%= f.text_area :body, rows: 1, placeholder: "スポットの雰囲気、特徴や魅力などを記入してください（例：デートスポットにぴったり！）", class: "textarea textarea-bordered w-full" %>
    </div>

    <%# 画像 %>
    <div class="form-group">
      <%= f.label :image, class: "form-label", for: :spot_image do %>
        画像 <span class="bg-red-700 text-xs ml-1 text-white rounded p-1">必須</span>
      <% end %>
      <%= f.file_field :image, accept: 'image/*', class: "w-full file-input file-input-primary" %>

      <%# 画像プレビュー %>
      <% if spot.persisted? && spot.image.attached? %>
        <div class="flex justify-center mt-2">
          <%= image_tag spot.image.variant(resize_to_limit: [300, 300]), class: "rounded" %>
        </div>
      <% end %>
    </div>
  </div>

  <%# 送信ボタン %>
  <div class="flex w-3/5 flex-col border-opacity-50 mx-auto mt-5">
    <%= f.submit class: "btn btn-primary w-full", data: { action: "click->loading#show" } %>
  </div>
<% end %>
