<div class="mb-8 max-w-3xl mx-auto">
  <%= search_form_for @q, class: "w-full grid grid-cols-12 gap-4" do |f| %>

    <%# 都道府県選択 %>
    <div class="col-span-2">
      <%= f.collection_select :prefecture_id_eq, @prefectures, :id, :name,
      { include_blank: "都道府県を選択" },
      { class: "w-full select select-bordered" } %>
    </div>

    <%# キーワード検索 %>
    <div class="col-span-6"
      data-controller="autocomplete"
      data-autocomplete-url-value="<%= autocomplete_spots_path %>"
      role="combobox">

      <%= f.search_field :name_or_address_or_body_cont,
            placeholder: "キーワードを入力",
            class: "input input-bordered w-full",
            data: { "autocomplete-target": 'input' } %>

      <%= f.hidden_field :name, data: { "autocomplete-target": 'hidden' } %>

      <ul data-autocomplete-target="results"
          class="bg-gray-700 absolute rounded mt-1 w-full max-w-max max-h-60 overflow-auto z-50">
      </ul>
    </div>

    <%# タグ検索 %>
    <div class="col-span-4"
      data-controller="autocomplete"
      data-autocomplete-url-value="<%= autocomplete_tags_path %>"
      role="combobox">

      <%= f.search_field :tags_name_eq,
      placeholder: "タグで検索",
      class: "input input-bordered w-full",
      data: { "autocomplete-target": 'input' } %>

      <ul data-autocomplete-target="results"
          class="bg-gray-700 absolute rounded mt-1 w-full max-w-max max-h-60 overflow-auto z-50">
      </ul>
    </div>

    <%# 検索ボタン %>
    <div class="col-span-10">
      <%= f.submit "検索", class: "btn btn-primary w-full", data: { action: "click->loading#show" } %>
    </div>

    <%# ソート %>
    <div class="col-span-2">
      <%= sort_link(@q, :created_at, "作成日順", default_order: :desc, class: "btn btn-outline w-full") %>
    </div>
  <% end %>
</div>
