<div id="<%= dom_id spot %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= spot.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Prefecture:</strong>
    <%= spot.prefecture_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= spot.address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= spot.url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= spot.body %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= spot.user_id %>
  </p>
</div>
