<% content_for :title, @spot.name %>

<!-- daisyUIのデフォルト通知
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>
-->

<h1 class="font-bold text-4xl p-3"><%= @spot.name%></h1>
<div class="grid sm:grid-cols-3">
  <figure class="sm:col-span-2 mb-3">
    <%= image_tag @spot.image %>
  </figure>

  <div class="bg-neutral sm:g sm:mx-4 w-full">
    <h1 class="bg-info text-info-content p-4 text-xl">基本情報</h1>

    <div class="py-5 mx-5">
      <div class="divider divider-info text-info-content-0 text-lg">位置情報</div>
      <div class="text-lg">
        <%= @spot.prefecture.name %><%= @spot.address %>
      </div>
    </div>

    <div class="py-5 mx-5">
      <div class="divider divider-info text-xl">その他</div>
      <% if @spot.body.present? %>
        <div class="overflow-x-auto break-words max-h-48">
          <%= simple_format(@spot.body) %>
        </div>
      <% else %>
        <p class="text-base-content">情報がありません</p>
      <% end %>
    </div>

    <div class="py-5 mx-5">
      <div class="divider divider-info text-xl">公式サイト</div>
      <div class="text-lg text-primary">
        <% if @spot.url.present? %>
          <div class="overflow-x-auto">
            <%= link_to h(@spot.url), h(@spot.url), target: "_blank", class: "break-words" %>
          </div>
        <% else %>
          <p class="text-base-content">情報がありません</p>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="flex w-3/5 flex-col border-opacity-50 mx-auto mt-5">
  <% if current_user.own?(@spot) %>
    <!-- button to edit a spot -->
    <div class="card bg-base-content rounded-box grid place-items-center mb-5">
      <%= link_to "投稿を編集", edit_spot_path(@spot), class: "btn btn-primary w-full" %>
    </div>
    <!-- button to delete a spot -->
    <div class="card bg-base-content rounded-box grid place-items-center">
      <%= link_to "投稿を削除", @spot, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-error w-full" %>
    </div>
    <div class="divider">OR</div>
  <% end %>

  <div class="card bg-base-content rounded-box grid place-items-center">
    <%= link_to "投稿一覧に戻る", spots_path, class: "btn btn-primary w-full" %>
  </div>
</div>
