<% content_for :title, "新規会員登録" %>

<div class="hero min-h-screen">
  <div class="hero-content flex-col w-full">
    <div class="text-center lg:text-left mb-5">
      <h1 class="text-5xl font-bold"><%= t('.title') %></h1>
    </div>

    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="card-body">
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- 名前フィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= t('helpers.label.name') %>（最大30文字）</span>
            </label>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-bordered", required: true %>
          </div>

          <!-- メールアドレスフィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= t('helpers.label.email') %></span>
            </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
          </div>

          <!-- パスワードフィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= t('helpers.label.password') %></span>
            </label>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上必要です)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
          </div>

          <!-- パスワード確認フィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text"><%= t('helpers.label.password_confirmation') %></span>
            </label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
          </div>

          <div class="flex w-full flex-col border-opacity-50 mt-8">
            <div class="card bg-base-300 rounded-box grid place-items-center">
              <!-- サインアップボタン -->
              <div class="form-control w-full">
                <%= f.submit t('devise.registrations.new.submit'), class: "btn btn-primary w-full", data: { action: "click->loading#show" } %>
              </div>

              <!-- Googleでログインボタン -->
              <div class="form-control w-full mt-5">
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn bg-white text-black border-[#e5e5e5] hover:bg-gray-100", data: { action: "click->loading#show" } do %>
                  <svg aria-label="Google logo" width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
                  Google で新規登録
                <% end %>
              </div>
            </div>
            <div class="divider">OR</div>
            <div class="card bg-base-300 rounded-box grid place-items-center">
              <%= link_to t('.to_login_page'), new_user_session_path, class: "btn btn-primary w-full", data: { action: "click->loading#show" } %>
            </div>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
