<% content_for :title, t('.title') %>

<!--
<h1 class="text-2xl font-bold text-center"><%= t('.title') %></h1>
-->

<%= form_with url: diagnosis_result_path, method: :post, data: { controller: "step-form" }, class: "my-2" do |f| %>

  <!-- ステップバー -->
  <ul class="steps w-full mb-4" data-step-form-target="progress">
    <li class="step step-primary">地域</li>
    <li class="step">雰囲気</li>
    <li class="step">特徴</li>
  </ul>

  <!-- ステップ1：地域 -->
  <div data-step-form-target="step" class="card p-6 bg-base-100 shadow-md w-2/5 mx-auto space-y-2">
    <div>
      <%= f.label :region, "STEP1：地域を選んでください", class: "block text-center font-zenmaru text-lg mb-6 sm:text-xl font-semibold text-center mb-2" %>
    </div>
    <%= f.collection_radio_buttons :region, @region_options, :last, :first do |b| %>
      <label class="block cursor-pointer">
        <%= b.radio_button(class: "hidden peer", required: true) %>
        <div class="btn btn-soft btn-primary bg-base-100 w-full text-left justify-start px-4 py-2 rounded-full text-white shadow-md peer-checked:bg-primary-focus peer-checked:bg-primary">
          <%= b.text %>
        </div>
      </label>
    <% end %>
    <div>
      <%= tag.button t('helpers.button.next'), type: 'button', data: { action: 'step-form#next' }, class: 'btn btn-primary w-full mt-4' %>
    </div>
  </div>

  <!-- ステップ2：雰囲気 -->
  <div data-step-form-target="step" style="display: none;" class="card p-6 bg-base-100 shadow-md w-2/5 mx-auto space-y-2">
    <div>
      <%= f.label :atmosphere, "STEP2：雰囲気を選んでください", class: "block text-center font-zenmaru mb-6 text-lg sm:text-xl font-semibold text-center mb-2" %>
    </div>
    <%= f.collection_radio_buttons :atmosphere, Spot::ATMOSPHERE_OPTIONS, :to_s, :to_s do |b| %>
      <label class="block cursor-pointer">
        <%= b.radio_button(class: "hidden peer", required: true) %>
        <div class="btn btn-soft btn-primary bg-base-100 w-full text-left justify-start px-4 py-2 rounded-full text-white shadow-md peer-checked:bg-primary-focus peer-checked:bg-primary">
          <%= b.text %>
        </div>
      </label>
    <% end %>
    <div class="flex justify-between">
      <%= tag.button t('helpers.button.back'), type: 'button', data: { action: 'step-form#back' }, class: 'btn btn-outline mt-4' %>
      <%= tag.button t('helpers.button.next'), type: 'button', data: { action: 'step-form#next' }, class: 'btn btn-primary mt-4' %>
    </div>
  </div>


  <!-- ステップ3：特徴 -->
  <div data-step-form-target="step" style="display: none;" class="card p-6 bg-base-100 shadow-md w-2/5 mx-auto space-y-2">
    <div>
      <%= f.label :tag, "STEP3：特徴（タグ）を1つ選んでください", class: "block text-center form-label text-lg mb-6 font-semibold mb-2" %>
    </div>
    <div data-controller="autocomplete"
        data-autocomplete-url-value="<%= autocomplete_tags_path %>">
      <%= f.text_field :tag,
            data: {
              "autocomplete-target": "input"
            },
            class: "input input-bordered w-full",
            placeholder: "タグを入力してください",
            required: true %>
      <ul data-autocomplete-target="results"
          class="bg-gray-700 absolute rounded mt-1 w-full max-w-max max-h-60 overflow-auto z-50">
      </ul>
    </div>

    <div class="mt-4">
      <p class="mb-2">人気のタグ</p>
      <div class="flex flex-wrap gap-3" data-controller="tag-select">
        <% @popular_tags.each do |tag| %>
          <span class="badge badge-outline hover:bg-gray-600 hover:text-white cursor-pointer transition"
                data-action="click->tag-select#select"
                data-tag-select-name-value="<%= tag.name %>">
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="flex justify-between">
      <%= tag.button t('helpers.button.back'), type: 'button', data: { action: 'step-form#back' }, class: 'btn btn-outline mt-4' %>
      <%= f.submit "診断する", class: "btn btn-success mt-4", data: { turbo: false } %>
    </div>
  </div>

<% end %>
