<% style_color = "btn btn-ghost" %>
<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to root_path, class: 'btn btn-ghost text-xl', data: { action: "click->loading#show" } do %>
      <%= image_tag "apple-touch-icon.png", alt: "NighTrip", class: "h-10 w-auto align-middle" %>
      <span>NighTrip</span>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= nav_link_to t('header.guide'), guide_path, icon: "icons/info.png", alt: "使いかたページへ" %></li>
      <% if user_signed_in? %>
        <li><%= nav_link_to t('header.create_spot'), new_spot_path, icon: "icons/add.png", alt: "新規投稿ページへ" %></li>
      <% end %>
      <li><%= nav_link_to t('header.diagnosis'), diagnosis_path, icon: "icons/diagnosis.png", alt: "夜景診断ページへ" %></li>
      <li><%= nav_link_to t('header.ranking'), ranking_spots_path, icon: "icons/ranking.png", alt: "ランキングページへ" %></li>
      <% if user_signed_in? %>
        <li><%= nav_link_to t('header.bookmark_index'), bookmarks_path, icon: "icons/star.png", alt: "お気に入りページへ" %></li>
        <li><%= nav_link_to t('header.profile'), profile_path, icon: "icons/account_circle.png", alt: "ユーザー情報編集ページへ" %></li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path,
                      data: { turbo_method: :delete, action: "click->loading#show" },
                      class: "btn btn-error" do %>
            <%= image_tag "icons/logout.png", alt: "ログアウトする" %>
            <%= t('header.logout') %>
          <% end %>
        </li>
      <% else %>
        <li><%= nav_link_to t('header.login'), new_user_session_path, icon: "icons/login.png", alt: "ログインページへ", style_color: "btn btn-primary" %></li>
      <% end %>
    </ul>
  </div>
</div>
