<div class="navbar bg-base-100 mb-4">
  <div class="flex-1">
    <%= link_to 'NighTrip', root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
        <li>
          <%= link_to t('header.create_spot'), new_spot_path %>
        </li>
        <li>
          <%= link_to t('header.bookmark_index'), bookmarks_path %>
        </li>
        <li>
          <%= link_to t('header.profile'), edit_user_registration_path %>
        </li>
      <% else %>
        <li>
          <%= link_to t('header.spot_index'), spots_path %>
        </li>
        <li>
          <%= link_to t('header.login'), new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
