<% style_color = "text-neurral-100" %>
<div class="navbar bg-base-100 mb-3">
  <div class="flex-1">
    <%= link_to 'NighTrip', root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
        <li>
          <%= link_to new_spot_path, class: style_color do %>
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <line x1="12" y1="8" x2="12" y2="16" />
              <line x1="8" y1="12" x2="16" y2="12" />
            </svg>
            <%= t('header.create_spot') %>
          <% end %>
        </li>
        <li>
          <%= link_to ranking_spots_path, class: style_color do %>
            <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <polyline points="23 6 13.5 15.5 8.5 10.5 1 18" />
              <polyline points="17 6 23 6 23 12" />
            </svg>
            <%= t('header.spot_ranking') %>
          <% end %>
        </li>
        <li>
        <li>
          <%= link_to bookmarks_path, class: style_color do %>
            <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
            </svg>
            <%= t('header.bookmark_index') %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path, class: style_color do %>
            <svg class="h-6 w-6"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
            <%= t('header.profile') %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to ranking_spots_path, class: style_color do %>
            <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <polyline points="23 6 13.5 15.5 8.5 10.5 1 18" />
              <polyline points="17 6 23 6 23 12" />
            </svg>
            <%= t('header.spot_ranking') %>
          <% end %>
        </li>
        <li>
          <%= link_to spots_path, class: style_color do %>
            <svg class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
            </svg>
            <%= t('header.spot_index') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, class: style_color do %>
            <svg class="h-6 w-6"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
              <path d="M20 12h-13l3 -3m0 6l-3 -3" />
            </svg>
            <%= t('header.login') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
