<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col w-full">
    <div class="text-center lg:text-left mb-5">
      <h1 class="text-5xl font-bold">ログイン</h1>
    </div>

    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-body">
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- メールアドレスフィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text">メールアドレス</span>
            </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
          </div>

          <!-- パスワードフィールド -->
          <div class="form-control">
            <label class="label">
              <span class="label-text">パスワード</span>
            </label>
            <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
          </div>

          <!-- ログイン状態を保持するためのチェックボックス -->
          <% if devise_mapping.rememberable? %>
            <div class="form-control">
              <label class="label cursor-pointer">
                <%= f.check_box :remember_me, class: "checkbox" %>
                <span class="label-text">ログイン状態を保持する</span>
              </label>
            </div>
          <% end %>

          <div class="flex w-full flex-col border-opacity-50">
            <div class="card bg-base-300 rounded-box grid place-items-center">
              <!-- ログインボタン -->
              <div class="form-control w-full">
                <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
              </div>
            </div>
            <div class="divider">OR</div>
            <div class="card bg-base-300 rounded-box grid place-items-center">
              <%= link_to "新規会員登録の場合", new_user_registration_path, class: "btn btn-primary w-full" %>
            </div>
          </div>

          <!-- パスワードを忘れた場合のリンク
          <div class="card bg-base-300 rounded-box grid place-items-center mt-5">
            <%= link_to "パスワードを忘れた場合", new_user_password_path, class: "btn btn-primary w-full" %>
          </div>
          -->

        </div>
      <% end %>

    </div>
  </div>
</div>
